// nav

.navbar__block{
    padding-top: 1%;
    width: 100%;
    background-color: #8db9de;
    z-index: 1;
    opacity: 0.9;
}
.navbar{
    padding: 0;
}

.navbar__context{
    margin-left: 40%;
}

.navbar-nav .nav-link{
    color: #000;
}

.navbar-nav .nav-link:hover{
    background-color: #000;
    color: #fff;
}

.navbar-nav .nav-link:focus{
    color: #fff;
}
.dropdown-menu{
    background-color: #8db9de;
}
.right-green-border{
    border-right: 2px solid green;
}
.navbarDropdownMedication___title___item{
    min-width: 170px;
    font-weight: 700;
    padding: 1% 1%;
}

.navbarDropdownMedication___item{
    padding: 1% 2%;
}

.navbarDropdownMedication___item a{
    color: #000;
    text-decoration: none;
}
.navbarDropdownMedication___item a:hover{
    color: #fff;
}

// (end) nav



// slider

.slider__img{
    width: 100%;
    height: 700px;
}
.slider__item-text{
    width: 25%;
    position: absolute;
    left: 5%;
    top: 10%;
    color: #fff;
}
.slider__item-text__title{
    margin-bottom: 6%;
}


// room-reservation-form
.room-reservation-form_block{
    margin-top: -15%;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.room-reservation-form__title{
    width: 100%;
    text-align: center;
    margin: 2% 0;
    color: #fff;
}
.room-reservation-form{
    width: 94%;
    margin: 2% 3%;
    display: flex;
    flex-direction: row;
}
.room-reservation-form *{
    margin: 0 1%;
}
.sendFromReservationBtn{
    width: 60%;
}

@media only screen and (max-width: 1100px) {
    .room-reservation-form_block{
        margin-top: -25%;
    }
}

@media only screen and (max-width: 800px) {
    #carouselExampleControls{
        background-color: #000;
        padding-bottom: 200px;
    }

    .room-reservation-form_block{
        margin-top: -50%;
    }

    .room-reservation-form{
        margin: 2%;
        margin-left: 3%;
        flex-direction: column;
    }

    .room-reservation-form *{
        width: 96%;
        margin: 2%;
    }
}

// (end) room-reservation-form

// (end) slider



//  description

.description__block{
    margin: 15% 0;
    width: 100%;
    background-color: rgb(74, 180, 74);
    color: #fff;
    padding-bottom: 50px;
}
.description___context{
    width: 30%;
    margin: 10%;
    padding-top: 2%;
    font-size: 12px;
}
.description___context__first_p{
    margin-bottom: 2%;
}
.learn-more-btn{
    color: #fff;
    border-color: #fff;
    margin-left: 40%;
}

@media only screen and (max-width: 800px) {
    .description___context{
        font-size: 10px;
    }

    .learn-more-btn{
        margin-left: 0;
        font-size: 8px;
        width: 100%;
    }
}

.description-img-1{
    width: 50%;
    height: 300px;
    position: absolute;
    right: 0;
    margin-top: -400px;
}
.description-img-2{
    width: 40%;
    height: 350px;
    position: absolute;
    margin-left: 45%;
    margin-top: -250px;
}

//  (end) description

// why choose us
.why-choose-us__block{
    width: 80%;
    margin: 0 10%;
}
.why-choose-us___context{
    display: flex;
    flex-direction: row;
}
.why-choose-us___description__context{
    width: 40%;
    margin-left: 10%;
}
.why-choose-us___item-img{
    width: 75px;
    height: 105px;
    padding: 15px;
}
.why-choose-us___item-text{
    padding-left: 10%;
    font-size: 14px;
}
.why-choose-us___description-title{
    margin-left: 10%;
    color: gray;
}
.hotel-img{
    fill: green;
}
.hotel-img__first_rate{
    margin-left: -40px;
    width: 50px;
    position: absolute;
}
// (end) why choose us



// gallery 

.gallery__block{
    widows: 90%;
    margin: 6%;
}
.gallery___item{
    width: 28%;
    margin: 2%;
    height: 300px;
    background-color: fuchsia;
    display: flex;
    vertical-align:bottom;
    float: left;
}

@media only screen and (max-width: 800px) {
    .gallery___item{
        width: 98%;
    }
}
.gallery___item___description{
    width: 15%;
    height: 140px;
    background-color: green;
    position: absolute;
    margin-top: 11.2%;
    opacity: 0.8;
    color: #fff;
    text-align: center;
}

.gallery___item___description>span{
    padding-top: 40px;
    display: block;
}

// (end) gallery


// what is interesting in cosiv

.what-is-interesting__block{
    width: 100%;
    height: 300px;
    background-color: blue;
    float: left;
}
.what-is-interesting___context{
    margin: 4% 10%;
    width: 80%;
    color: #fff;
}
.what-is-interesting___context header{
    margin-bottom: 5%;
}
.what-is-interesting___context p{
    font-size: 12px;
}

// (end) what is interesting in cosiv

// footer

.footer{
    width: 100%;
    float: left;
}
.footer__context{
    width: 80%;
    margin: 10%;
    display: flex;
    flex-direction: row;
}

.contacts{
    width: 60%;
    flex-direction: column;
    padding: 2%;
    background-color: #fff;
    border: 1px solid black;
}
.contacts *{
    display: block;
}
.footer__links{
    width: 30%;
    margin-top: 2%;
    margin-left: 10%;
    flex-direction: column;
}
.footer__links *{
    display: block;
    color: green;
    margin: 6% 0;
}
.footer__start-rest-btn{
    width: 30%;
    height: 50px;
    margin: 0 5%;
    margin-top: 4%;
}


@media only screen and (max-width: 900px) {
    .footer__context{
        flex-direction: column;
    }

    .contacts{
        width: 100%;
        text-align: center;
    }
    .footer__links{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .footer__start-rest-btn{
        width: 100%;
        margin: 0;
    }
}

// (end) footer